<nav class="navbar" aria-label="Principal">
  <ul class="navbar__list">
    <li><a class="navbar__link" href="/">Inicio</a></li>
    <li><a class="navbar__link" href="/pages/destinations.html">Destinos</a></li>
    <li><a class="navbar__link" href="/pages/blog.html">Blog</a></li>
    <li><a class="navbar__link" href="/pages/partners.html">Socios</a></li>
    <li><a class="navbar__link" href="/pages/reservations.html">Reservas</a></li>
    <li><a class="navbar__link" href="/pages/contact.html">Contacto</a></li>
  </ul>
</nav>
